doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type' content='text/html; charset=utf8')
    script(src='https://dn-codebursts.qbox.me/jquery.min.js')
    script(src='https://dn-codebursts.qbox.me/jquery.md5.js')
    script(src='https://dn-codebursts.qbox.me/bootstrap.min.js')
    script(src='https://dn-codebursts.qbox.me/rating.js')
    script(src='//cdnjscn.b0.upaiyun.com/libs/mathjax/2.4.0/MathJax.js?config=TeX-AMS_HTML')
    script(type='text/x-mathjax-config')
    script.
        MathJax.Hub.Config({
            showProcessingMessages: false,
            tex2jax: {
                inlineMath: [["$", "$"]],
                processEscapes: true
            },
            menuSettings: {
                zoom: "Hover"
            },
            messageStyle: "none"
        });
    link(rel='stylesheet', href='https://dn-codebursts.qbox.me/bootstrap.min.css')
    link(rel='stylesheet', href='https://dn-codebursts.qbox.me/style.css')
  body
    block content
    div(style='display:none')
      script var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254769757'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254769757' type='text/javascript'%3E%3C/script%3E"));
