doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.md5.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
