nav.navbar.navbar-default.navbar-inverse
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='#') CodeBursts
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                - each navli in nav
                    case navli.active
                        when false
                            li
                                a(href!=navli.ref)= navli.name
                        when true
                            li.active
                                a(href!=navli.ref)= navli.name
