mixin notice(data)
    .panel.panel-info
        .panel-heading
        .panel-body
        .panel-footer
div.jumbotron
    h1 CodeBursts!
    p 这是一个非盈利性的程序在线评测系统
    p
        if !login || !login.username
            a.btn.btn-primary.btn-lg(href='/login/register') 点此注册
            a.btn.btn-success.btn-lg(href='/login') 点此登陆
        else
            h4 &nbsp;&nbsp;&nbsp;&nbsp;欢迎您，#{login.username}
h2 &nbsp;&nbsp;公告&nbsp;&nbsp;&nbsp;
    small notice
hr

if notice && notice.cnt
    - for (var i = 0; i < notice.cnt; ++ i)
else
    h5(align='center') 木有公告
