extends ../layout

block content
    include ../nav
    script(src='/javascripts/login/success.js')
    br
    br
    h1(style='text-align: center; position: relative') 恭喜您注册成功！
    h3(style='text-align: center; position: relative')
        span#cnt 3
        | 秒后将自动跳转到首页......
