extends ../layout

block content
    include ../nav
    script.
        setTimeout("window.location.href='/'", 5000);
    br
    br
    h1(style='text-align: center; position: relative') 恭喜您注册成功！
    h3(style='text-align: center; position: relative') 5秒后将自动跳转到首页......
