mixin giveStatus(id, stat)
    tr
        td= id
        case stat
            when 0
                td Accepted
            when 1
                td Wrong Answer
            when 2
                td Time limit Exceeded
            when 3
                td Runtime Error
            when 4
                td Compile Error
extends ../layout

block content
    include ../nav
    script(src='/sh/scripts/shCore.js')
    case doc.language
        when '0'
            script(src='/sh/scripts/shBrushCpp.js')
        when '1'
            script(src='/sh/scripts/shBrushDelphi.js')
    link(rel='stylesheet' href='/sh/styles/shCoreDefault.css')
    .col-md-9
        h3 提交的代码&nbsp;&nbsp;
            small Submitted Code
        hr
        case doc.language
            when '0'
                pre(class='brush: cpp;')= doc.code
            when '1'
                pre(class='brush: delphi;')= doc.code
        h3 数据点状态&nbsp;&nbsp;
            small Data Status
        hr
        table.table.table-striped
            tr
                th(style='width: 100px') 数据点编号
                th 数据点状态
            - for (var i = 0; i < doc.result.length; ++ i)
                + giveStatus(i, doc.result[i])
    .col-md-3
    script SyntaxHighlighter.all()

