footer#footer
  .container
    section.links
      .row
        section.3u(class='6u(medium) 12u$(small)')
          h3 Nice OnlineJudge Systems
          ul.unstyled
            li
              a(href='http://codeforces.com/') Codeforces
            li
              a(href='http://www.topcoder.com/tc') TopCoder
            li
              a(href='http://uoj.ac/') Universal Online Judge
            li
              a(href='http://www.codechef.com/') Codechef
            li
              a(href='http://bestcoder.hdu.edu.cn/') BestCoder
        section.3u(class='6u$(medium) 12u$(small)')
          h3 Hosting Environment
          ul.unstyled
            li
              a(href='#') Server: Express.js on Ubuntu 14.04.2 LTS
            li
              a(href='#') Session: Aliyun KVStore
            li
              a(href='#') Database: MongoDB v2.4.9
            li
              a(href='#') Template Engine: Jade
        section.3u(class='6u(medium) 12u$(small)')
          h3 Resources
          ul.unstyled
            li
              a(href='http://gnu.org/') GNU
            li
              a(href='https://github.com/') GitHub
            li
              a(href='https://coding.net/') Coding.net
        section(class='3u$ 6u$(medium) 12u$(small)')
          h3 Contact Info
          ul.unstyled
            li
              a(href='#') Address: 555 Chenhui Rd., Pudong District, Shanghai, China
            li
              a(href='#') Postal Code: 201203
            li
              a(href='#') Tel: 021-50801890
            li
              a(href='#') Fax: 021-50804338
            li
              a(href='mailto:jcpwfloi@gmail.com') Email: jcpwfloi@gmail.com
    .row
      .8u(class='12u$(medium)')
        ul.copyright
          li CodeBursts©2015. All rights reserved.
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
          li
            | 备案信息：
            a(href='http://www.miitbeian.gov.cn/') 沪ICP备15007332号-1
      div(class='4u$ 12u$(medium)')
        ul.icons
          li
            a.icon.rounded.fa-facebook
              span.label Facebook
          li
            a.icon.rounded.fa-twitter
              span.label Twitter
          li
            a.icon.rounded.fa-google-plus
              span.label Google+
          li
            a.icon.rounded.fa-linkedin
              span.label LinkedIn
