nav#nav
    ul
        li
            a(href='/') 首页
        li
            a(href='/problem') 问题
        li
            a(href='/status') 状态
        if login && login.username
            li
                a(href='#') 欢迎您, #{login.username}!
            li
                a.button.special(href='/login/logout') 注销
        else
            li
                a.button.special(href='/login') 登陆
