nav#nav
    ul
        li
            a(href='/') Home
        li
            a(href='/problem') Problems
        li
            a(href='/status') Status
        if login && login.username
            li
                a(href='#') Welcome, #{login.username}!
            li
                a.button.special(href='/login/logout') Logout
        else
            li
                a.button.special(href='/login') Login
