doctype html
//
  Transit by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html(lang='en')
  head
    meta(charset='UTF-8')
    |         
    title Transit by TEMPLATED
    |         
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    |         
    meta(name='description', content='')
    |         
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='js/html5shiv.js')
    |         
    script(src='js/jquery.min.js')
    |         
    script(src='js/skel.min.js')
    |         
    script(src='js/skel-layers.min.js')
    |         
    script(src='js/init.js')
    |         
    noscript
      link(rel='stylesheet', href='css/skel.css')
      |             
      link(rel='stylesheet', href='css/style.css')
      |             
      link(rel='stylesheet', href='css/style-xlarge.css')
  |     
  body.landing
    // Header
    header#header
      h1
        a(href='index.html') Transit
      |                 
      nav#nav
        ul
          li
            a(href='index.html') Home
          |                         
          li
            a(href='generic.html') Generic
          |                         
          li
            a(href='elements.html') Elements
          |                         
          li
            a.button.special(href='#') Sign Up
    // Banner
    section#banner
      h2 Hi. This is Transit.
      |                 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      |                 
      ul.actions
        li
          a.button.big(href='#') Lorem ipsum dolor
    // One
    section#one.wrapper.style1.special
      .container
        header.major
          h2 Consectetur adipisicing elit
          |                         
          p Lorem ipsum dolor sit amet, delectus consequatur, similique quia!
        |                     
        .row(class='150%')
          .4u(class='12u$(medium)')
            section.box
              i.icon.big.rounded.color1.fa-cloud
              |                                 
              h3 Lorem ipsum dolor
              |                                 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.
          |                         
          .4u(class='12u$(medium)')
            section.box
              i.icon.big.rounded.color9.fa-desktop
              |                                 
              h3 Consectetur adipisicing
              |                                 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.
          |                         
          .(class='4u$ 12u$(medium)')
            section.box
              i.icon.big.rounded.color6.fa-rocket
              |                                 
              h3 Adipisicing elit totam
              |                                 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.
    // Two
    section#two.wrapper.style2.special
      .container
        header.major
          h2 Lorem ipsum dolor sit
          |                         
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.
        |                     
        section.profiles
          .row
            section.3u.profile(class='6u(medium) 12u$(xsmall)')
              img(src='images/profile_placeholder.gif', alt='')
              |                                 
              h4 Lorem ipsum
              |                                 
              p Lorem ipsum dolor
            |                             
            section.3u.profile(class='6u$(medium) 12u$(xsmall)')
              img(src='images/profile_placeholder.gif', alt='')
              |                                 
              h4 Voluptatem dolores
              |                                 
              p Ullam nihil repudi
            |                             
            section.3u.profile(class='6u(medium) 12u$(xsmall)')
              img(src='images/profile_placeholder.gif', alt='')
              |                                 
              h4 Doloremque quo
              |                                 
              p Harum corrupti quia
            |                             
            section.profile(class='3u$ 6u$(medium) 12u$(xsmall)')
              img(src='images/profile_placeholder.gif', alt='')
              |                                 
              h4 Voluptatem dicta
              |                                 
              p Et natus sapiente
        |                     
        footer
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolore illum, temporibus veritatis eligendi, aliquam, dolor enim itaque veniam aut eaque sequi qui quia vitae pariatur repudiandae ab dignissimos ex!
          |                         
          ul.actions
            li
              a.button.big(href='#') Lorem ipsum dolor sit
    // Three
    section#three.wrapper.style3.special
      .container
        header.major
          h2 Consectetur adipisicing elit
          |                         
          p Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!
      |                 
      .container(class='50%')
        form(action='#', method='post')
          .row.uniform
            .6u(class='12u$(small)')
              input#name(name='name', value='', placeholder='Name', type='text')
            |                             
            .(class='6u$ 12u$(small)')
              input#email(name='email', value='', placeholder='Email', type='email')
            |                             
            .(class='12u$')
              textarea#message(name='message', placeholder='Message', rows='6')
            |                             
            .(class='12u$')
              ul.actions
                li
                  input.special.big(value='Send Message', type='submit')
    // Footer
    footer#footer
      .container
        section.links
          .row
            section.3u(class='6u(medium) 12u$(small)')
              h3 Lorem ipsum dolor
              |                                 
              ul.unstyled
                li
                  a(href='#') Lorem ipsum dolor sit
                |                                     
                li
                  a(href='#') Nesciunt itaque, alias possimus
                |                                     
                li
                  a(href='#') Optio rerum beatae autem
                |                                     
                li
                  a(href='#') Nostrum nemo dolorum facilis
                |                                     
                li
                  a(href='#') Quo fugit dolor totam
            |                             
            section.3u(class='6u$(medium) 12u$(small)')
              h3 Culpa quia, nesciunt
              |                                 
              ul.unstyled
                li
                  a(href='#') Lorem ipsum dolor sit
                |                                     
                li
                  a(href='#') Reiciendis dicta laboriosam enim
                |                                     
                li
                  a(href='#') Corporis, non aut rerum
                |                                     
                li
                  a(href='#') Laboriosam nulla voluptas, harum
                |                                     
                li
                  a(href='#') Facere eligendi, inventore dolor
            |                             
            section.3u(class='6u(medium) 12u$(small)')
              h3 Neque, dolore, facere
              |                                 
              ul.unstyled
                li
                  a(href='#') Lorem ipsum dolor sit
                |                                     
                li
                  a(href='#') Distinctio, inventore quidem nesciunt
                |                                     
                li
                  a(href='#') Explicabo inventore itaque autem
                |                                     
                li
                  a(href='#') Aperiam harum, sint quibusdam
                |                                     
                li
                  a(href='#') Labore excepturi assumenda
            |                             
            section.(class='3u$ 6u$(medium) 12u$(small)')
              h3 Illum, tempori, saepe
              |                                 
              ul.unstyled
                li
                  a(href='#') Lorem ipsum dolor sit
                |                                     
                li
                  a(href='#') Recusandae, culpa necessita nam
                |                                     
                li
                  a(href='#') Cupiditate, debitis adipisci blandi
                |                                     
                li
                  a(href='#') Tempore nam, enim quia
                |                                     
                li
                  a(href='#') Explicabo molestiae dolor labore
        |                     
        .row
          .8u(class='12u$(medium)')
            ul.copyright
              li &copy; Untitled. All rights reserved.
              |                                 
              li
                | Design: 
                a(href='http://templated.co') TEMPLATED
              |                                 
              li
                | Images: 
                a(href='http://unsplash.com') Unsplash
          |                         
          .(class='4u$ 12u$(medium)')
            ul.icons
              li
                a.icon.rounded.fa-facebook
                  span.label Facebook
              |                                 
              li
                a.icon.rounded.fa-twitter
                  span.label Twitter
              |                                 
              li
                a.icon.rounded.fa-google-plus
                  span.label Google+
              |                                 
              li
                a.icon.rounded.fa-linkedin
                  span.label LinkedIn
